/*!
 * Copyright (c) 2022.
 * Created by metasync.site.
 * Developer: gerasymenkoph@gmail.com
 * Link: https://t.me/gerasart
 */

img.mchecheckoutSave {
  width: 24px;
  margin-left: 10px;
  vertical-align: middle;
  cursor: pointer;
  transition: transform 250ms;
}

img.mchecheckoutSave:hover {
  transform: translateY(-3px);
}

.mch-field {
  border-radius: 5px;
  border: 1px solid hwb(0 83.9% 16.1%);
  padding: 5px;
}

.mcheckoutNoty {
  position: absolute;
  top: 30%;
  left: 45%;
  right: auto;
  color: white;
  background: #52b052;
  padding: 10px 20px;
  transform-origin: 50% 0;
  animation: append-animate .3s linear;
}

.mcheckoutNoty.loading {
  background: #fdfdfd;
}

@keyframes append-animate {
  from {
    transform: scaleY(0);
    opacity: 0;
  }
  to {
    transform: scaleY(1);
    opacity: 1;
  }
}